[submodule "complex_reciprocal"]
	path = complex_reciprocal
	url = git@github.com:Chisel-blocks/complex_reciprocal.git
[submodule "memblock"]
	path = memblock
	url = git@github.com:Chisel-blocks/memblock.git
[submodule "edge_detector"]
	path = edge_detector
	url = git@github.com:Chisel-blocks/edge_detector.git
